<p id="notice"><%= notice %></p>

<h1>Cliente</h1>
<hr>

<div class="container-fluid" style="margin-top:4rem">
  <p style="font-size:22px !important; margin-bottom:2rem">
    <strong>Dados do Cliente</strong>
  </p>
  <div class="row">
    <div class="col-9">
      <p>
        <strong>Nome:</strong>
        <%= @cliente.nome %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @cliente.email %>
      </p>

      <p>
        <strong>Cnpj/Cpf:</strong>
        <%= @cliente.formata_doc %>
      </p>
    </div>
    <div class="col-3">
      <p>
        <strong>Telefone:</strong>
        <%= @cliente.formata_telefone %>
      </p>

      <p>
        <strong>Celular:</strong>
        <%= @cliente.formata_celular %>
      </p>
    </div>
  </div>

  <p style="font-size:22px !important; margin-bottom:2rem; margin-top:2rem">
    <strong>Endereço</strong>
  </p>
  <div class="row">
    <div class="col-9">

      <p>
        <strong>Logradouro:</strong>
        <%= @cliente.endereco %>
      </p>

      <p>
        <strong>Bairro:</strong>
        <%= @cliente.bairro %>
      </p>

      <p>
        <strong>CEP:</strong>
        <%= @cliente.cep %>
      </p>

    </div>
    <div class="col-3">

      <p>
        <strong>Número:</strong>
        <%= @cliente.numero %>
      </p>

      <p>
        <strong>Cidade:</strong>
        <%= @cliente.cidade %>
      </p>

      <p>
        <strong>Estado:</strong>
        <%= @cliente.estado %>
      </p>

    </div>
  </div>
</div>

<div class="float-sm-right" style="margin-top:3rem">
  <%= link_to 'Editar', edit_cliente_path(@cliente), class: "btn btn-info" %> 
  <%= link_to 'Voltar', clientes_path , class: "btn btn-secondary" %>
</div>
