<p id="notice"><%= notice %></p>

<h1>Tarefa</h1>
<hr>

<div class="container-fluid" style="margin-top:4rem">
  <div class="row">
    <div class="col-5">
      <p>
        <strong>Nome:</strong>
        <%= @tarefa.nome %>
      </p>
    </div>

    <div class="col-2">
      <p>
        <strong>Codigo:</strong>
        <%= @tarefa.codigo %>
      </p>
    </div>

    <div class="col-3">
      <p>
        <strong>Tipo de projeto:</strong>
        <%= @tarefa.tipo_de_projeto_id %>
      </p>
    </div>

    <div class="col-2">
      <p>
        <strong>Valor:</strong>
        <%= @tarefa.valor %>
      </p>
    </div>
  </div>
</div>


<div class="float-sm-right" style="margin-top:3rem">
  <%= link_to 'Editar', edit_tarefa_path(@tarefa), class: "btn btn-info" %> 
  <%= link_to 'Voltar', tarefas_path , class: "btn btn-secondary" %>
</div>
