<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-10">
    <h1>Projetos</h1>
  </div>
  <div class="col-2">
    <span class="badge badge-pill badge-success"><%=@projeto.status_formatado%></span>
  </div>
</div>

<hr>

<div class="container-fluid" style="margin-top:4rem">
  <div class="row">
    <div class="col-3">
      <p>
        <strong>Código</strong><br><br>
        <%= @projeto.codigo %>
      </p>
    </div>

    <div class="col-9">
      <p>
        <strong>Nome do Projeto</strong><br><br>
        <%= @projeto.nome %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>
        <strong>Descrição</strong><br><br>
        <%= @projeto.descricao %>
      </p>
    </div>
  </div>

  <div class="row">

    <div class="col-4"> 
      <p>
        <strong>Tipo</strong><br><br>
        <%= @projeto.tipo %>
      </p>
    </div>

    <div class="col-4">
      <p>
        <strong>Cliente</strong><br><br>
        <%= @projeto.cliente_id %>
      </p>
    </div>

    <div class="col-4"> 
      <p>
        <strong>Prazo</strong><br><br>
        <%= @projeto.prazo %>
      </p>
    </div>
  </div>

<div class="float-sm-right" style="margin-top:3rem">
  <%= link_to 'Editar', edit_projeto_path(@projeto), class: "btn btn-info" %> 
  <%= link_to 'Voltar', projetos_path , class: "btn btn-secondary" %>
</div>

<hr>

<div class="container-fluid" style="margin-top:8rem">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="obs-tab" data-toggle="tab" href="#obs" role="tab" aria-controls="obs" aria-selected="true">Observações</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="orcamento-tab" data-toggle="tab" href="#orcamento" role="tab" aria-controls="orcamento" aria-selected="false">Orçamento</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tarefas-tab" data-toggle="tab" href="#tarefas" role="tab" aria-controls="tarefas" aria-selected="false">Tarefas</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="atividades-tab" data-toggle="tab" href="#atividades" role="tab" aria-controls="atividades" aria-selected="false">Atividades</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="condicionantes-tab" data-toggle="tab" href="#condicionantes" role="tab" aria-controls="condicionantes" aria-selected="false">Condicionantes</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="gerenciamento-tab" data-toggle="tab" href="#gerenciamento" role="tab" aria-controls="gerenciamento" aria-selected="false">Gerenciamento</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="obs" role="tabpanel" aria-labelledby="obs-tab">
      <div class="container">
        <%= render 'orcamento', projeto: @projeto %>
      </div>
    </div>
    <div class="tab-pane" id="orcamento" role="tabpanel" aria-labelledby="orcamento-tab">
      <div class="container">
        <%= render 'orcamento', projeto: @projeto %>
      </div>
    </div>
    <div class="tab-pane" id="tarefas" role="tabpanel" aria-labelledby="tarefas-tab">2</div>
    <div class="tab-pane" id="gerenciamento" role="tabpanel" aria-labelledby="atividades-tab">3</div>
    <div class="tab-pane" id="condicionantes" role="tabpanel" aria-labelledby="condicionantes-tab">4</div>
    <div class="tab-pane" id="gerenciamento" role="tabpanel" aria-labelledby="gerenciamento-tab">5</div>
  </div>
</div>

<script>
  $(function () {
    $('#myTab li:last-child a').tab('show')
  })
</script>

<style>
  p{
    font-size: 22px !important;
  }

  .nav{
    font-size: 22px !important;
  }
</style>


