<%= form_with(model: observacao_do_projeto, local: true) do |form| %>
  <% if observacao_do_projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observacao_do_projeto.errors.count, "error") %> prohibited this observacao_do_projeto from being saved:</h2>

      <ul>
        <% observacao_do_projeto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :projeto_id %>
    <%= form.text_field :projeto_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :mensagem %>
    <%= form.text_area :mensagem %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
