<div class="container">
  <br>
  <%= link_to 'Adicionar Atividades', new_atividade_da_tarefa_por_projeto_path, class:"btn btn-info" %>
  <br><br><br>

  <h3>Atividades dessa tarefa</h3>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Atividade</th>
        <th>Status</th>
        <th>Prazo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tarefa_do_projeto.atividade_da_tarefa_por_projetos.each do |atividade_da_tarefa_por_projeto| %>
        <tr>
            <td><%= atividade_da_tarefa_por_projeto.nome %></td>
            <td><%= atividade_da_tarefa_por_projeto.status %></td>
            <td><%= atividade_da_tarefa_por_projeto.prazo %></td>
            <td><%= link_to 'Mostrar', atividade_da_tarefa_por_projeto %></td>
            <td><%= link_to 'Editar', edit_atividade_da_tarefa_por_projeto_path(atividade_da_tarefa_por_projeto) %></td>
            <td><%= link_to 'Excluir', atividade_da_tarefa_por_projeto, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
